@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=VT323&display=swap");
*
{ 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "VT323", monospace;
        scroll-behavior: smooth;
}
body
{
        min-height: 100vh;
        overflow-x: hidden;
        background: linear-gradient(#261055, #7597de);
}
header
{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;            /* Maybe left/right padding can be changed */
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;
}
header .logo
{
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        Letter-spacing: 2px;
}
header .logo img {
        width: 4rem;
        cursor: pointer;
        display: flex;
        align-items: center;
}
header ul
{
        display: flex;
        justify-content: center;
        align-items: center;
}
header ul li
{
        List-style: none; 
        margin-left: 20px;
}
header ul li a
{
        text-decoration: none;
        padding: 6px 15px;
        color:#fff;
        border-radius: 20px;
}
header ul li a:hover,
header ul li a:active
{
        background: #fff;
        color:#261055;
}
section
{
        position: relative;
        width: 100%; 
        height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
}
section::before
{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient (to top,#1c0522,transparent);
        z-index: 1000;
}
section img {
        position: absolute; 
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
}
section img#sun {
        mix-blend-mode: screen;
        overflow: hidden;
}
section img#mountain {
        z-index: 10;
}
#text {
    position: absolute;
    right: -350px;
    color: rgb(255, 255, 255);
    white-space: nowrap; 
    font-size: 8.0vw;
    z-index: 9;
}
#btn
{
    text-decoration: none; 
    display: inline-block;
    padding: 8px 30px; 
    border-radius: 40px; 
    background:#fff;
    color: #2b1055; 
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 60px;
    background: #1c0522;
}
.sec h2
{
    font-size: 3.5em; 
    margin-bottom: 10px; 
    color:#fff;
}
.sec p
{
    font-size: 1.2em; 
    color:#fff;
}
.game-button {
        background-color: #1c0522;
        font-size: 16px;
        position: relative;
        padding-bottom: 40px;
        text-align: center;
}
.button-81 {
        background-color: #fff;
        border: 0 solid #e2e8f0;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #0d172a;
        cursor: pointer;
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1;
        padding: 1rem 1.6rem;
        text-align: center;
        text-decoration: none #0d172a solid;
        text-decoration-thickness: auto;
        transition: all .1s cubic-bezier(.4, 0, .2, 1);
        box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-81:hover {
        background-color: rgba(255, 255, 0, 0.965);
        color: #2b1055;
      }
      
      @media (min-width: 768px) {
        .button-81 {
          font-size: 1.125rem;
          padding: 1rem 2rem;
        }
      }
footer {
        background-color: #1c0522da;
        color: white;
        text-align: center;
        line-height: 1.2;
}